body {
    background-color: #333; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    margin: 0 15%; /* Márgenes laterales de 20px */
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

h1, h2, h3 {
    color: #ffcc00; /* Títulos en amarillo */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff; /* Enlaces en blanco */
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos específicos para la página de Términos y Condiciones */
main {
    background-color: #444; /* Fondo para el contenido de la página */
    padding: 20px;
}

.terms {
    background-color: #555; /* Fondo para cada sección de términos */
    color: #fff; /* Texto blanco */
    padding: 10px;
    margin-bottom: 100px;
}

.terms h3 {
    font-weight: bold;
}

.terms p {
    margin: 0;
}

.terms-title {
    font-weight: bold;
}

.terms-text {
    font-style: italic;
}
