body {
    background-color: #18181b; /* Fondo oscuro */
    color: #fff; /* Texto blanco */
    font-family: Arial, sans-serif;
    margin: 0 15%; /* Márgenes laterales */
    padding: 0;
}

header, nav, main, footer {
    padding: 20px;
}

h1, h2, h3 {
    color: #ff5900; /* Títulos en naranjado */
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li:hover {
    background-color: #555;
}

nav li {
    display: inline-flex;
    background-color: #18181b;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    padding: 1% 2%;
    margin-bottom: 10px;
}

nav a {
    color: #fff; /* Enlaces en blanco */
    text-decoration: none;
}
nav li.active {
    background-color: #555; /* Color de fondo para el botón activo */
}

nav a:hover {
    text-decoration: underline;
}

/* Estilos específicos para la página de Términos y Condiciones */
main {
    background-color: #444; /* Fondo para el contenido de la página */
    padding: 20px;
    border-radius: 20px;
}

.terms {
    background-color: #555; /* Fondo para cada sección de términos */
    color: #fff; /* Texto blanco */
    padding: 10px;
    margin-bottom: 10px;
}

.terms h3 {
    font-weight: bold;
}

.terms p {
    margin: 0;
}

.terms-title {
    font-weight: bold;
}

.terms-text {
    font-style: italic;
}

/* Estilos para el botón de invitación */
.invite-button {
    display: block; /* Hace que el botón ocupe todo el ancho disponible */
    width: auto; /* Ajusta el ancho del botón según tus preferencias */
    margin: 20px auto; /* Centra el botón horizontalmente */
    padding: 1.5% 2%; /* Ajusta el espaciado interno del botón */
    background-color: #ff5900; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    text-align: center; /* Centra el texto dentro del botón */
    text-decoration: none; /* Quita la decoración de enlace predeterminada */
    border-radius: 20px; /* Bordes redondeados para hacerlo más parecido a un botón */
    font-weight: bold; /* Texto en negrita */
    transition: background-color 0.3s ease; /* Transición al cambiar el color de fondo en el hover */
}

.invite-button:hover {
    background-color: #ff4500; /* Color de fondo cuando se pasa el mouse sobre el botón */
}
